* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*header*/

header {
  background-color: #FFF;
  height: 120px;
  padding: 0;
}

#photo {
  width: 220px;
  height: 330px;
  border-radius: 8%;
  float: left;
  margin-top: 50px;
}

header h1 {
  float: left;
  margin: 30px 0 0 15px;
  font-family: cambria;
  color: #0080ff;
  text-shadow: -2px -2px 26px #00FFFF;
  display: inline;
}

.header-contact {
  padding: 20px;
}


/*navbar */

.navbar {
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
  display: inline-block;
}

#navbar-head {
  color: #0080ff;
  border: 1px solid #00FFFF;
  border-radius: 100px;
}

#navbar-head span {
  border-width: 10px;
  background-color: #fff;
  display: inline;
  font-family: Kaushan Script;
}

#navbar li a {
  color: black;
}

#navbar li a:hover {
  border-radius: 10px;
  transition: .7s;
  color: black;
  box-shadow: inset -1px -1px 38px 3px rgba(0, 255, 255, 0.63);
  border-bottom: 1px solid black;
}

#contact {
  color: #04ffd9;
  font-size: 1.5em;
  font-family: labster;
}

#contact:hover {
  transition: .7s;
  color: black;
  box-shadow: inset -1px -1px 38px 3px rgba(0, 255, 255, 0.63);
  border-bottom: 1px solid black;
}


/*section*/

section {
  width: 88%;
  background-color: #fff;
  margin: 0 auto;
}

section h1, h2 {
  font-family: fantasy;
}


/*srction jubmotron*/

.about-me h1 {
  font-size: 2.7em;
  text-align: center;
  font-family: Courgette;
}

.about-me {
  float: right;
  margin: 50px auto;
}

.about-me p {
  font-size: 1.2em;
  margin: 0 auto;
}


/*images*/

#full-image img {
  border-radius: 100%;
}

.sits img {
  width: 60%;
  margin: 0 auto;
  height: 140px;
}

.sits {
  margin: 30px auto;
  margin-bottom: 70px;
}

section h2 {
  margin-top: 70px;
  margin-bottom: 15px;
  text-align: center;
  font-family: Courgette;
}

.my-projects {
  border: 5px ridge #00ffff;
  width: 98%;
  height: 300px;
  margin: 10px auto;
  box-shadow: 1px -1px 44px 3px rgba(13, 222, 250, 1);
}

.my-projects h2 {
  color: #0080ff;
  margin-top: 10px;
  font-family: lobster;
}

#comming-soon {
  margin: 2% 30%;
  max-width: 40%;
  transition: width 2s;
}

#click {
  font-size: 0.7em;
  font-family: cambria;
}


/*******************************footer****************************************/

#footer {
  background-color: rgba(210, 210, 210, 0.68);
  box-shadow: 1px -10px 43px 13px rgba(210, 210, 210, 0.68);
  margin-top: 30px;
  max-width: 100%;
  min-height: 230px;
}

.contact-info {
  list-style: none;
  margin-top: 10px;
  font-size: 1.1em;
  float: left;
  display: inline-block;
}
.contact-info a {
  min-width: 10px;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  padding: 0 0 0 30px;
  margin: 10px 25px 10px;
  text-decoration: none;
  color: black;
 display:block;
}

.contact-info li.phone a {
  background-image: url('img/Phone.png');
}

.contact-info li.mail a {
  background-image: url('img/mail.png');
}

.img {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: right;
}

.img img {
  max-width: 60px;
  padding: 7px;
  display: inline-block;
}
.img ul li {
  list-style: none;
}
.img ul li span {
text-decoration: none;
color: black;
}
.creater {
text-align: center;
text-decoration: none;
color: #08ee04;
}


/********************************Media quaries*********************************/

@media (min-width: 320px) and (max-width: 768px) {
  #photo {
    margin: 0 auto;
  }
  section {
    width: 100%;
  }
  .sits img {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .header-contact p {
    text-align: right;
    margin-right: 10px;
  }
  .img {
    justify-content: right;
  }
  #footer li, p {
    font-size: 1.2em;
  }
  #footer .img a {
    display: none;
  }
  .designer {
    margin-top: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1025px) {
  #photo {}
  header h1 {
    font-size: 2em;
  }
  .header-contact p {
    text-align: right;
    margin-right: 10px;
    font-size: 1.1em;
  }
  .img {
    justify-content: right;
  }
  .sits img {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 20px;
  }
  #footer li, p {
    font-size: 1.1em;
  }
}

@media (min-width: 1025px) {
  .sits img {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 20px;
  }
  header h1 {
    font-size: 2em;
    display: inline;
  }
  .header-contact p {
    text-align: right;
    margin-right: 10px;
    font-size: 1.1em;
  }
  .img {
    justify-content: right;
  }
  #footer li, p {
    font-size: 1.1em;
  }
}
